main{
    margin:10px;
    padding: 10px;
    font-size: 16px;
    text-align: left;

}
a{
    display: block;
    font-size: x-large;
}
h2{
    font-size: 20px;
    margin: 12px;
    font-weight: bold;
}
ul {
    margin: 25px;
    list-style-type:  circle;
}
ul li{
    padding: 2px;
}